#popup {
  position: absolute;
  width: 100%;
  height: 100%;
}

.shadow {
  position: absolute;
  background-color: rgba(128, 128, 128, .4);
}

#light {
  position: absolute;
}

#popup-card {
  position: absolute;
  top: 56vh;
  max-width: 24rem;
  padding: 1.5rem;
  font-size: 1.2rem;
  z-index: 1;
}