#App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#logo {
  position: absolute;
  margin: 2rem;
}

#setting-icon {
  position: absolute;
  right: calc(50% - 28rem);
  top: 8rem;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    transform: scale(1.2, 1.2) rotateZ(120deg);
  }
}

.indent {
  padding-left: 1rem;
  color: #777777;
}

#textbox {
  font-family: 'Consolas';
  padding: 1rem;
  line-height: 150%;
  text-align: left;
  white-space: pre-wrap;
  display: flex;
  flex-wrap: wrap;
}

.typed-letters {
  position: relative;
  color: black;
  &::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: attr(data-name);
    animation: shooting-star 1s ease-out forwards;
  }
  &[data-name='★']::after {
    color: yellow;
  }
  &[data-name='♥']::after {
    color: pink;
  }
  &[data-name='♦']::after {
    color: skyblue;
  }
}

@keyframes shooting-star {
  100% {
    opacity: 0;
    bottom: 3rem;
    right: 1rem;
    transform: rotate(360deg) scale(0.5, 0.5);
  }
}

.current-letter {
  color: #aaaaaa;
  border-bottom: solid;
  animation: blink 1s linear infinite;
}

.typo {
  color: red;
}

@keyframes blink {
  100% {
    border-bottom: none;
  }
}

.waiting-letters {
  color: #aaaaaa;
}

#bad-keys {
  letter-spacing: 1rem;
  &.anim {
    animation: calmdown 1s ease-out forwards;
  }
}

@keyframes calmdown {
  0% {
    color: red;
  }
  100% {
    color: initial;
  }
}

footer {
  position: absolute;
  bottom: 1rem;
  font-size: 1rem;
}

#cookie-letter {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}
