#App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  font-size: calc(10px + 2vmin);
}

#textbox {
  font-family: 'Consolas';
  padding: 1rem;
  line-height: 150%;
}

.typed-letters {
  position: relative;
  color: black;
  &::after {
    content: '★';
    position: absolute;
    bottom: 0;
    right: 0;
    color: yellow;
    animation: shooting-star 1s ease-out forwards;
  }
}

@keyframes shooting-star {
  100% {
    opacity: 0;
    bottom: 3rem;
    right: 1rem;
    transform: rotate(360deg) scale(.5, .5);
  }
}

.current-letter {
  color: #aaaaaa;
  text-decoration: underline;
  animation: blink 1s linear infinite;
}

.typo {
  color: red;
}

@keyframes blink {
  100% {
    text-decoration: none;
  }
}

.waiting-letters {
  color: #aaaaaa;
}
